.titulo1 {
 color: darkgreen;

}
.titulo2 {
color: darkgreen;

}
.titulo3 {

color: darkgreen;
}
.titulo4 {

    color: darkgreen;
}
.titulo5 {

    color: darkgreen;
}
.titulo6 {
    color: darkgreen;
}
.titulo7 {
    color: darkgreen;
}
.titulo8 {
    color: darkgreen;
}
.titulo9 {
    color: darkgreen;
}
.titulo10 {
    color: darkgreen;
}
.titulo11 {
    color: darkgreen;
}
img {
width: 400px;
height: 380px;

}